<div class="row">
  <div class="twelve columns">
    
    <div id="file-upload-status">
      <div class="uploading-msg">Photo upload running. <span class="value">0</span> left …</div>
      <div class="idle-msg">Nothing to do</div>
    </div>
    
    <div id="file-upload">
      <p><strong>Feel free to select multiple or just drag and drop some images</strong></p>
      <%= form_for Photo.new, url: photos_path, html: {multipart: true} do |f| %>
        <%= f.file_field :photo, multiple: true, name: "photo[photo]" %>
      <% end %>
    </div>

  </div>
</div>

<div class="row">
  <div id="photos">
    <%= render @photos %>
  </div>

</div>
